h1 {
  font-weight: bold;
  font-size: 65px;
}

#logo {
  border: solid 4px white;
  border-radius: 75px;
  padding: 20px;
  font-weight: bolder;
  font-size: 25px;
}

#homeImage {
  width:100%;
  border-radius: 700px;
}

.navbar {
  height: 125px
}
#headerNav {
  background-color: #1484a7;
}

.btn {
  background-color: #f28500;
  color: white;
  font-weight: bold;
  border-color: white;
}

#freeTrialLesson {
  background-color: #f28500;
  color: white;
  font-weight: bold;
}

.card {
border-radius: 50px;
}

.row-content {
  padding: 50px, 0;
  border-bottom: 1px ridge;
  min-height: 200px; }