h1 {
  color: #38383f;
  font-weight: bold;
  font-size: 65px;
}

h2 {
  color: #38383f;
  font-weight: bold;
  font-size: 40px;
}

#logo {
  border: solid 4px white;
  border-radius: 75px;
  padding: 20px;
  font-weight: bolder;
  font-size: 25px;
}

#homeImage {
  width:100%;
  height:auto;
  flex: auto;
}

.navbar {
  height: 125px
}
#headerNav {
  background-color: #1484a7;
}

.btn {
  background-color: #f28500;
  color: white;
  font-weight: bold;
  border-color: white;
}

#freeTrialLesson {
  background-color: #f28500;
  color: white;
  font-weight: bold;
}

.card {
border-radius: 50px;
}

.row-content {
  padding: 50px, 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

  .card-title {
    color: #38383f;

  }
  .card-link {
    color: #994e30;
  }