h1 {
  color: #38383f;
  font-weight: bold;
  font-size: 65px;
}

h2 {
  color: #38383f;
  font-weight: bold;
  font-size: 40px;
}

h4 {
  color: #f28500;
  font-weight: bold;
  font-size: 25px;
}

#logo {
  border: solid 4px white;
  border-radius: 75px;
  padding: 20px;
  font-weight: bolder;
  font-size: 25px;
}

#homeImage {
  width: 100%;
  height: 100%;
  border-radius: 100px;

}

.navbar {
  height: 125px
}
#headerNav {
  background-color: #1484a7;
}

.btn {
  background-color: #f28500;
  color: white;
  font-weight: bold;
  border-color: white;
}

#freeTrialLesson {
  background-color: #f28500;
  color: white;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#freeTrialLesson span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#freeTrialLesson span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#freeTrialLesson:hover span {
  padding-right: 25px;
}

#freeTrialLesson:hover span:after {
  opacity: 1;
  right: 0;
}

.card {
border-radius: 50px;
}

.row-content {
  padding: 50px, 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

  .card-title {
    color: #38383f;

  }
  .card-link {
    color: #1484a7;
    font-weight: bold;
  }

  .site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0; }